<%= render 'shared/error_messages' %>


<%= form_for @user,:html => {class: 'new_user form-horizontal'} do |f| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">Create Account:</legend></div>
    <fieldset>
        <div class="form-group">
            <%= f.label :name, 'Name*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :name, class: 'form-control' ,  required: true  %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :email, 'Email*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :email, class: 'form-control' ,  required: true  %>
            </div>
        </div>


        <div class="form-group">
            <%= f.label :image, 'Image URL', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :image, class: 'form-control' %>
            </div>
        </div>



        <% if @nurse %>

        <div class="form-group">
            <%= f.label :headline, 'Headline*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :headline, class: 'form-control' ,  required: true  %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :bio, 'Short Bio', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_area :bio, class: 'form-control' %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :city, 'City*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :city, class: 'form-control' ,  required: true  %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :state, 'State*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :state, class: 'form-control' ,  required: true  %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :nurse_type, 'Type (RN, LVN, Student etc.)*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :nurse_type, class: 'form-control' ,  required: true  %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :agency, 'Current Home Health Agency', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :agency, class: 'form-control' %>
            </div>
        </div>

        <%= f.hidden_field :nurse, :value => true %>

        <% else  %>
        <%= f.hidden_field :headline, :value => "N/A" %>
        <%= f.hidden_field :city, :value => "N/A" %>
        <%= f.hidden_field :state, :value => "N/A" %>
        <%= f.hidden_field :nurse_type, :value => "N/A" %>
        <%= f.hidden_field :nurse, :value => false %>
        <% end  %>

        <div class="form-group">
            <%= f.label :password, 'Password*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.password_field :password, class: 'form-control' ,  required: true  %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation, 'Confirm Password*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.password_field :password_confirmation, class: 'form-control' ,  required: true    %>
            </div>
        </div>


        <center>
          <p>* Required fields</p>
        </center>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Create Account', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>

<% end %>
