



<div class="container">
	<div class="row">

       <div class="col-md-7 ">
<div class="panel panel-default">
  <div class="panel-heading">  <h4 > <%= @user.headline %> </h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src=" <%= @user.image %> " id="profile-image1" class="img-circle img-responsive">

                <input id="profile-image-upload" class="hidden" type="file">

                     </div>

              <br>

              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;"> <%= @user.name %> </h4></span>

              <% if @user.nurse %>
              <span><p>Review Score: <%= @user.avg %>% (<%= @user.reviews.count %>)</p></span>
              <% end %>
              <%  if @display_review_option || !(logged_in?)%>

                  <%= link_to 'Leave Review', new_review_for_user_path(@user.id), :class => "btn" unless @user == current_user ||  @user.nurse == false %>

              <% else  %>
              <p><%= "Thanks for your review!" %></p>
              <% end  %>

            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">


<div class="col-sm-5 col-xs-6 tital " >Name:</div><div class="col-sm-7 col-xs-6 "> <%= @user.name %> </div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7">  <%= @user.city %> </div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >State:</div><div class="col-sm-7">  <%= @user.state %> </div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<% if @user.nurse %>
<div class="col-sm-5 col-xs-6 tital " >Type:</div><div class="col-sm-7"> <%= @user.nurse_type %> </div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Agency:</div><div class="col-sm-7"> <%= @user.agency %> </div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
<% end  %>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>


    </div>
    </div>
</div>

<div class= "col-md-5 ">


  <% if @user.nurse  %>
    <% @user.reviews.each do |rv| %>

      <!-- Start of Review Colum +++++++++++++++++++++  -->
        <div class="col-md-12">
                  <div class="panel panel-default">
                  <div class="panel-heading">
                    <span itemscope itemtype="http://schema.org/Review">
                    <h3 class="panel-title" itemprop="name"><p><%= User.find_by(email: rv.user_email).name if User.find_by(email: rv.user_email) %> </p>
</h3>
                  </div><!--/panel-heading-->
                  <div class="panel-body" itemprop="reviewBody">
                    <p> <%=  rv.body %> </p>

                      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

                      <meta itemprop="datePublished" content=" <%=  rv.created_at %> "> <%= rv.created_at  %>

                      <span class="pull-right">
                      <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <meta itemprop="worstRating" content="1">
                          <span itemprop="ratingValue"> <%= rv.rating %> </span></span>
                        <span itemprop="bestRating"> % </span>
                      </span><!--/reviewRating-->

                    </small>
                  </div><!--/panel-body-->
                  <div class="panel-footer clearfix">

                  </div><!--/panel-footer-->
                </div><!--/panel-->
              </div><!--/col-sm-6-->
      <!-- END of Review Colum +++++++++++++++++++++  -->

    <% end %>
  <% end %>





  <% if @user.nurse == false and @user.id == current_user.id  %>

  <% @reviews.each do |rv| %>


  <!-- Start of Review Colum +++++++++++++++++++++  -->
    <div class="col-md-12">
              <div class="panel panel-default">
              <div class="panel-heading">
                <span itemscope itemtype="http://schema.org/Review">
                <h4 class="panel-title" itemprop="name"> <%= User.find(rv.user_id).name %>
                  <%= button_to "Delete Review", rv, :method => :delete,  :class => 'btn btn-sm btn-primary', data: {confirm: "Are you sure?"} %>  </h4>
              </div><!--/panel-heading-->
              <div class="panel-body" itemprop="reviewBody">
                <p> <%=  rv.body %> </p>

                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

                  <meta itemprop="datePublished" content=" <%=  rv.created_at %> "> <%= rv.created_at  %>

                  <span class="pull-right">
                  <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="worstRating" content="1">
                      <span itemprop="ratingValue"> <%= rv.rating %> </span></span>
                    <span itemprop="bestRating"> % </span>
                  </span><!--/reviewRating-->

                </small>
              </div><!--/panel-body-->
              <div class="panel-footer clearfix">

              </div><!--/panel-footer-->
            </div><!--/panel-->
          </div><!--/col-sm-6-->

    <% end %>
  <% end %>


</div> <!--/col-md-5-->
    <!-- <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
              </script> -->
   </div>
</div>
