<center><h1>Profile Page</h1></center>

  <h2>Name: <%= @user.name %></h2>
  <% if @user.nurse  %>
    Review Score: <%= @user.average_score %>% (<%= @user.reviews.count %>)

<h3>Reviews</h3>
<% @user.reviews.each do |rv| %>
<p>Review: <%= rv.body %></p>
<p>Rating: <%= rv.rating %></p>
<p>Left by user: <%= rv.user_email %></p>
<br /><br />
  <% end %>
<% end %>

<% if @user.nurse == false and @user.id == current_user.id  %>
  (User)

<h3>Reviews I have left</h3>
<% @reviews.each do |rv| %>
<p>Review: <%= rv.body %></p>
<p>Rating: <%= rv.rating %></p>
<p>Nurse Name: <%= User.find(rv.user_id).name %></p>
<%= button_to "Delete Review", rv, :method => :delete %><br /><br />
  <% end %>
<% end %>

<br /><br />

<%  if @display_review_option || !(logged_in?)%>
<%= link_to("Leave Review", new_review_for_user_path(@user.id)) unless @user == current_user ||  @user.nurse == false %><br />
<% else  %>
<p><%= "Thanks for your review!" %></p>
<% end  %>


<%= link_to("Back to All Users", users_path) %><br />
<% if logged_in? and @user.id == current_user.id %>
  <%=  link_to("Edit My Profile", edit_user_path(@user.id)) %><br />
<% end %>


<div class="container">
	<div class="row">
		<h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>


       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                <input id="profile-image-upload" class="hidden" type="file">
<div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->







                     </div>

              <br>

              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4></span>
              <span><p>Aspirant</p></span>
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">


<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">Prasad</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7"> Shankar</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> Huddedar</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7">15 Jun 2016</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">11 Jun 1998</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div><div class="col-sm-7">Shirdi</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Indian</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Relition:</div><div class="col-sm-7">Hindu</div>


            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>


    </div>
    </div>
</div>
    <!-- <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
              </script> -->
   </div>
</div>
