<center><h1>User Page</h1></center>

  <p>Name: <%= @user.name %></p>


<h2>Reviews this user left</h2>
<% @user.reviews.each do |rv| %>
Review: <li><%= rv.body %></li>
Rating: <li><%= rv.rating %></li>
Left for Nurse: <li><%= rv.for_nurse %></li>
  <% end %>
<br />

<%= link_to("Back to All Users", users_path) %><br />
