<center><h1>User Page</h1></center>

  <p>Name: <%= @user.name %></p>


<h2>Reviews</h2>
<% @user.reviews.each do |rv| %>
Review: <li><%= rv.body %></li>
Rating: <li><%= rv.rating %></li>
Left for Nurse: <li><%= rv.user_email %></li>
  <% end %>
<br />

<%= link_to("Back to All Users", users_path) %><br />
<%= link_to("Leave Review", new_review_for_user_path(@user.id)) %><br />
